* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: aliceblue;
}

.container {
    width: 500px;
    margin: 50px auto;
    background-color: red;
    height: 900px;
    padding-top: 10px;
    position: relative;
}

.card {
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 2px 2px 6px black;
    position: absolute;
    top: 0;
    left: 0;
}

.card0 {
    transition: all .2s linear;
}

.card1 {
    transition: all .2s linear;
}

.card2 {
    transition: all .2s linear;
}

.cardVisible {
    transform: translate(0);
}

.cardPrev {
    transform: translate(100%);
    transition: all .8s linear;
}

.cardNext {
    transform: translate(-100%);
    transition: all .5s linear;
}

.prev {
    margin-top: 500px;
    margin-left: 44%;
}